
#acf-group_60daca2980e17 .acf-field[data-name="invitees_individual"],
#acf-group_60daca2980e17 .acf-field[data-name="invitees_group"],
#acf-group_60daca2980e17 .acf-field[data-name="location_id"],
#acf-group_60daca2980e17 .acf-field[data-name="location_input"],
#acf-group_60daca2980e17 .acf-field[data-name="max_participants"] {
  border-top: none;
  padding-top: 0;
}

#acf-group_60daca2980e17 .acf-field[data-name="invitees_individual"] .acf-label,
#acf-group_60daca2980e17 .acf-field[data-name="invitees_group"] .acf-label,
#acf-group_60daca2980e17 .acf-field[data-name="location_id"] .acf-label,
#acf-group_60daca2980e17 .acf-field[data-name="location_input"] .acf-label {
  display: none;
}

#acf-group_60daca2980e17 .acf-field[data-name="max_participants"] .acf-label label {
  font-weight: normal;
}

body.is-event:not(.is-editable-event) .acf-input {
  position: relative;
  z-index: 100;
}

body.is-event:not(.is-editable-event) .acf-input:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(255, 255, 255, .5);
}

#acf-group_60daf898a458c .acf-field[data-key="field_60daf8ac12fca"] .acf-label  {
  display: none;
}

#acf-group_60daf898a458c .acf-field[data-key="field_60daf8ac12fca"] ul {
  margin: 0;
}
