
#acf-my_events_event_group {

  .acf-field[data-name="time"],
  .acf-field[data-name="organizers"] {
    padding-bottom: 0;
  }

  .acf-field[data-name="end"][data-width] {
    border-left: 0;
  }

  .acf-field[data-name="start"],
  .acf-field[data-name="end"],
  .acf-field[data-name="all_day"],
  .acf-field[data-name="organizers_can_edit"],
  .acf-field[data-name="individual_invitees"],
  .acf-field[data-name="invitee_group"],
  .acf-field[data-name="invitee_default_status"],
  .acf-field[data-name="custom_location"],
  .acf-field[data-name="location_id"] {
    border-top: none;
    padding-top: 0;
  }

  .acf-field[data-name="start"],
  .acf-field[data-name="end"],
  .acf-field[data-name="organizers_can_edit"],
  .acf-field[data-name="invitee_default_status"] {
    .acf-label {
      label {
        font-weight: normal;
      }
    }
  }

  .acf-field[data-name="all_day"],
  .acf-field[data-name="individual_invitees"],
  .acf-field[data-name="invitee_group"],
  .acf-field[data-name="custom_location"],
  .acf-field[data-name="location_id"] {
    .acf-label {
      display: none;
    }
  }
}
