@import "autoload";

.my-events-send-email {
  &.is-loading {
    @include make-loader(2rem, 0, true);
  }

  ul.my-events-send-email-recipients {
    margin-top: 0;
    border: 1px solid #c3c4c7;
    padding: 8px 12px;
    max-height: 100px;
    overflow-y: scroll;

    > li:last-child {
      margin-bottom: 0;
    }
  }
}
