@import "autoload";

/**
 * Event settings
 */

#acf-my_events_event_group {
  .acf-field {
    &[data-name="invitees_individual"],
    &[data-name="invitees_group"],
    &[data-name="location_id"],
    &[data-name="location_input"],
    &[data-name="max_subscriptions"] {
      border-top: none;
      padding-top: 0;
    }

    &[data-name="invitees_individual"],
    &[data-name="invitees_group"],
    &[data-name="location_id"],
    &[data-name="location_input"] {
      .acf-label {
        display: none;
      }
    }

    &[data-name="max_subscriptions"] {
      .acf-label label {
        font-weight: normal;
      }
    }
  }
}

/**
 * 'Invitees' meta box on event edit screen.
 */

#acf-my_events_event_invitees_group .acf-field[data-key="my_events_event_invitees_list"] {
  .acf-label {
    display: none;
  }
  ul {
    margin: 0;
  }
}

/**
 * Admin notices.
 */

.acf-fields .notice {
  margin-top: 0;
}

/**
 * Event group
 */

#acf-my_events_event_group_group .acf-field[data-key="my_events_event_group_events"] {
  .acf-label {
    display: none;
  }
  p {
    margin-top: 0;
  }
}

/**
 * Grouped events
 */

.acf-field.disabled {
  position: relative;
  z-index: 100;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: rgba(#ffffff, .5);
  }
}

/**
 * Events overview screen
 */

body.edit-php.post-type-event #the-list .hentry.type-event {
  &.is-event-over {
    opacity: .5;
  }
  &.is-grouped-event {
    .row-actions {
      .inline, .trash {
        display: none;
      }
    }
    .check-column * {
      display: none;
    }
  }
}

/**
 * Send email
 */

.my-events-send-email {
  &.is-loading {
    @include make-loader(2rem, 0, true);
  }
}

body.post-php.post-type-invitee {
  &.is-grouped-event {
    #submitdiv {
      #delete-action,
      #minor-publishing-actions,
      #misc-publishing-actions {
        display: none;
      }
    }
  }
}

body.edit-php.post-type-invitee #the-list .hentry.type-invitee {
  &.is-grouped-event {
    .row-actions {
      .inline, .trash {
        display: none;
      }
    }
    .check-column * {
      display: none;
    }
  }
}
