@import "autoload";

#acf-my_events_event_group {
  .acf-field[data-name="individual_invitees"],
  .acf-field[data-name="invitee_group"],
  .acf-field[data-name="custom_location"],
  .acf-field[data-name="location_id"] {
    border-top: none;
    padding-top: 0;

    .acf-label {
      display: none;
    }
  }
}
