@import "autoload";

// Event settings
#acf-my_events_event_group {
  .acf-field {
    &[data-name="invitees_individual"],
    &[data-name="invitees_group"],
    &[data-name="location_id"],
    &[data-name="location_input"],
    &[data-name="max_subscriptions"] {
      border-top: none;
      padding-top: 0;
    }
    &[data-name="invitees_individual"],
    &[data-name="invitees_group"],
    &[data-name="location_id"],
    &[data-name="location_input"] {
      .acf-label {
        display: none;
      }
    }
    &[data-name="max_subscriptions"] {
      .acf-label label {
        font-weight: normal;
      }
    }
  }
}

// 'Invitees' meta box on event edit screen.
#acf-my_events_event_invitees_group .acf-field[data-key="my_events_event_invitees_list"] {
  .acf-label {
    display: none;
  }
  ul {
    margin: 0;
  }
}

// Admin notices.
.acf-fields .notice {
  margin-top: 0;
}

 // Events overview screen
body.edit-php.post-type-event .hentry.type-event {
  // Events that are over.
  &.is-event-over {
    opacity: .5;
  }
}

// Send email
.my-events-send-email {
  &.is-loading {
    @include make-loader(2rem, 0, true);
  }

  iframe {
    width: 100%;
    border: 1px solid #c3c4c7;
    background-color: #fff;
  }

  ul.my-events-send-email-recipients {
    margin-top: 0;
    border: 1px solid #c3c4c7;
    padding: 8px 12px;
    max-height: 100px;
    overflow-y: scroll;

    > li:last-child {
      margin-bottom: 0;
    }
  }
}

// Invitee overview screen.
body.edit-php.post-type-invitee .hentry.type-invitee {
}

// Invitee edit screen.
body.post-php.post-type-invitee {
  // Disable fields.
  .acf-field {
    &[data-name="event"],
    &[data-name="user"] {
      @include disable-field();
    }
  }
  // Disable actions.
  &.is-grouped-event {
    #submitdiv {
      #delete-action,
      #minor-publishing-actions,
      #misc-publishing-actions {
        display: none;
      }
    }
  }
}
